table{
    background-color: bisque;
    border-style: groove;
    border-collapse: collapse;
    border-color:black ;
    text-align: center;
}
th{
    font-size: 145%;
    border: 1px solid;
}
td{
        border: 1px solid;
}
td{
    width: 17%;
}

h1 {
    text-align: center;
}
td{
    font-size: 145%;
}

h1{
    border-style:double;
    background-color: bisque;
}

.vdd {
    font-size: 145%;
    font-style: italic;
}